<!DOCTYPE html>

<head>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
        h1 {
            padding-top: 1em;
        }

        h1,
        h2,
        h3 {
            text-align: center;
        }

        h3 {
            margin-bottom: 0.2em;
        }

        p,
        div {
            text-align: justify;
            padding-left: 1em;
            padding-right: 1em;
            max-width: 480px;
            margin: 0 auto;
            margin-bottom: 1em;

        }
    </style>
</head>

<body>
    {% block body %} {% endblock %}
</body>
